<!-- <ispit-dummy></ispit-dummy> -->
<!-- <button type="button" (click)="goD1()">Go to dummy 1</button> -->
<!-- <button type="button" (click)="goD2()">Go to dummy 2</button> -->
<!-- <input type="checkbox" name="hid" id="extra">Enable hidden dummy -->
<p>app works!</p>
<!-- <router-outlet></router-outlet> -->
<!-- Router outlet je default komponenta angulara koja stoji na mestu gde će se dinamički -->
<!-- rutirati/menjati komponente, sa već navedenim ng router servisom -->
<!-- za putanje i konfiguraciju, videti /routing folder -->
