<!-- <p>{{ form1.value | json }}</p> -->
<!-- <p>{{ form1.status | json }}</p> -->
<form [formGroup]="form1" (submit)="onSubmit()" novalidate>
	<div class="form-group row">
		<label for="field1" class="col-2 col-form-label">Name</label>
		<div class="col-10">
			<input class="form-control" type="text" id="field1" placeholder="Name" name="field1"
			formControlName="field1">
            <small class="text-danger"
            *ngIf="form1.controls.field1.touched && form1.controls.field1.errors?.required"
            >This field is required</small>
            <small class="text-danger"
            *ngIf="form1.controls.field1.touched && form1.controls.field1.errors?.minlength"
            >Wine name is required, and must be at least 2 characters long</small>
		</div>
  </div>
	<div class="form-group row">
		<label for="field2" class="col-2 col-form-label">Description</label>
		<div class="col-10">
      <textarea class="form-control" rows="3" id="field2" placeholder="Description"
      name="field2" formControlName="field2"></textarea>
       <small class="text-danger"
       *ngIf="form1.controls.field2.touched && form1.controls.field2.errors?.required"
       >This field is required</small>
		</div>
	</div>
	<div class="form-group row float-right">
		<div class="col-6">
			<button class="btn btn-primary " (click)="onRevert()" type="button">Revert</button>
		</div>
		<div class="col-6">
			<!-- <button class="btn btn-primary " id=btn1 type="submit" [disabled]="!(this.hasNumUpLow(this.form1.controls.region.value))||this.form1.invalid">Submit</button> -->
			<button class="btn btn-primary " id=btn1 type="submit" [disabled]="this.form1.invalid">Submit</button>
		</div>
	</div>
<!-- Ostavljena placeholder komponenta za formu sa tipom za text, textarea -->
<!-- revert i submit dugmetom  sa sve osveženim imenima kontrola i angular dinamičkim delovima -->
<!-- Ovo samo po potrebi proširiti i njegov ts fajl rastegnuti da pokrije sve -->
<!-- Ne puštati ng serve sa ovim na suvo, tj dok ne definišeš metode kako treba -->
